/*@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
*/

@import "@fortawesome/fontawesome-free/css/all.css";

@font-face {
    font-family: "American Typewriter";
    src: local('American Typewriter'), url('../../assets/fonts/americantypewriter_1-webfont.ttf') format('truetype');
}

body {margin: 0 0; padding: 0; font-family: "Helvetica Neue",Arial,sans-serif; /*font-family: Helvetica, sans-serif;*/ font-size: 13px;
    background: no-repeat bottom center black;}
* {margin: 0; padding: 0}
#global {position: relative; width: 1000px; margin: 0 auto; }
ul, li {list-style: none}
.hidden {display: none; }
button {border: none; cursor: pointer; font-size: inherit; background: none;}
.btn {border: none; background: black; color: white; padding: 3px 5px }

.section-block {margin: 0 0 30px 0; }
.section-content {background: white; border: 1px solid #CCC; overflow: hidden;}
a {color: black;}
.no-bg {background: none}

.col-left {width: 44%; padding: 10px 3% 10px 0; float: left; }
.col-right {width: 52%; padding: 10px 0 10px 1%; float: left; }

.section-h2 {padding-bottom: 10px; font-size: 26px; font-family: "American Typewriter",sans-serif; font-weight: bold}
.section-h3 {padding-bottom: 10px; font-size: 16px; font-family: "American Typewriter",sans-serif; font-weight: bold;
    line-height: 1.4;}
.section-h2 .selected,
.section-h3 .selected {display: inline; font-weight: bold; font-size: inherit}

/** sections spécifiques **/

#content {background: linear-gradient( 0deg, #aaa, #e7e7e7); /*background-color: #e7e7e7;*/ padding: 0; overflow: hidden}
#header {/*background: #e7e7e7 no-repeat top center url(../images/Fusilli.jpg);background-position: 0 -10px;*/
    background: #e7e7e7 no-repeat top center url(../../assets/images/IMG_4478_rec2b.jpg);background-position: 0 -20px;
    background-size: 100%;    position: relative;
     height: 225px;}
#header h1 {text-indent: -1000px; }

.user-menu {position: absolute; right:0; margin: 30px 30px 20px; font-size: 20px;     display: flex;
    flex-direction: row;     column-gap: .5em; }
.user-menu a {text-decoration: none; color: #222;     margin-left: 10px;}
.user-menu a:hover {color: #0d6efd}

.user-menu .btn-label {display: none}

#footer {background-color: black; color: white; padding: 10px; font-size: 10px;
    text-align:center;font-family: "American Typewriter",sans-serif;}
#footer a {color:white}
#footer p {margin: 1em 0}

.section-h2 a {color: #888; text-decoration: none}
.section-h3 a {color: #888; text-decoration: none}

#mc_embed_signup .button {color: black !important}

.page-section {clear: both; padding: 20px 2% 0 2%}
.section-content .col-left,
.section-content .col-right {width: 48.5%; padding: 10px 1% 10px 1%;}
.section-content .col-left {padding-right: 0.5%}
.section-content .col-right {padding-left: 0.5%}

.header-nav {padding: 0.8em 2%; background: #bbb; display: block; border-bottom: 1px solid white}
.header-nav .section-h2 {padding: 0; color: #888; text-decoration: underline; justify-content: space-between;
    display: flex; flex-wrap: wrap;}
.header-nav .menu-item { color: #555; text-transform: lowercase; font-weight: normal;}
.header-nav .menu-item:first-of-type {text-transform: none;}
.header-nav .menu-item:after {content: ',';}
.header-nav .menu-item:last-of-type:after {content: '.';}
.header-nav .menu-item:last-of-type {margin-right: 0}

.page-section .section-content {padding: 3em; font-size: 15px}
.page-section .section-content ul {display: grid; grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); gap: 12px; }
.file-item {text-align: center; width: 150px; padding: 0; display: flex;   flex-direction: column;
    align-items: normal; position: relative;
    justify-content: space-between; }
.file-item.invalid-item a {color: red}
.file-item .copy-url-btn {visibility: hidden;     background: black; color: white;    padding: 5px;}
.file-item .copy-url-success-message {background: black; color: white;    padding: 5px;}
.file-item  .invalid-msg {background: black; color: white;    padding: 5px;}
.file-item .copy-url-block {position: absolute;bottom: 0;left: 0;right: 0; font-size: 90%}
.file-item:hover .copy-url-btn {visibility: visible}
.file-item a {text-decoration: none}
.file-item .icon {font-size: 40px; display: block}
.file-item .title {margin-top: 10px; display: block; font-weight: bold}
.file-item .lang {font-size: 80%; }

.big-buttons-menu {margin-bottom: 3em}
.big-button {display: inline-block; text-align: center; font-weight: bold}
.big-button i {font-size: 400%; display: block; margin-bottom: .1em}

ul.document-list.size-small {display: block}
ul.document-list.size-small .file-item {  flex-direction: row; text-align: left; width: auto;}
ul.document-list.size-small .file-item .title {margin-top: 10px; font-weight: normal;    display: inline-block;margin-left: .5em;}
ul.document-list.size-small .file-item .icon {font-size: 20px; display: inline-block; width: 20px;}

.text-block {margin-top: 3em}

input.form-control {display: block; padding: .2em .4em; width: 20em; margin-bottom: .5em;}

#header-menu {z-index: 10; color: #111; position: absolute; top: auto; right: 0; left:0;
    bottom: 2px;font-family: monospace; display: flex; justify-content: space-between; font-size: 1.1em}
#header-menu a {text-decoration: none}
#header-menu a i {margin-left: .3em}
.briefcase-title {font-size: 1em; font-weight: lighter;}
.header-menu-right {transform: skew(0.3rad); text-shadow: -2px -2px 2px rgba(200, 200, 200, 0.7); margin-right: 45px; }
.header-menu-left {transform: skew(-0.3rad); text-shadow: -2px -2px 2px rgba(200, 200, 200, 0.7); margin-left: 35px; }

@media screen and (max-width: 975px) {
    body {background: none}
    #header {background-position: top right; }
    #global {width: auto}
    .col-right {width: auto!important; float: none; padding: 10px 2%!important;}
    .col-left {width: auto!important; float: none; padding: 10px 2%!important;}
}
@media screen and (max-width: 488px) {
    #header {height: 75px}

}
